<html><head>
<title>Chatting {{channel}}</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
  function listen_for_events(timestamp) {
  $.ajax("/chat/receive_chat/{{channel}}/"+timestamp, { success:
  function(data, code, xhr) {
    for (var i=0; i<data.messages.length; i++) {
      var msg = data.messages[i].text;
      $("#chat_list").prepend("<li>"+msg);
    }
    listen_for_events(data.timestamp);
    } });
  }
  $(document).ready(function() {
    listen_for_events({{ timestamp }});
  });
</script>
</head>
  <body>
    <h1>Welcome to <em>{{channel}}</em></h1>
  <ul id="chat_list">
    <li>You joined the chat</li>
</ul>
</body
